@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800|Open+Sans:400,600,700');
h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: 'Raleway', sans-serif !important;
}

.wrapper {
    height: 100vh;
    display: table;
    width: 100%;
    overflow-y: scroll;
}

.wrapper-inner {
    display: table-cell;
    vertical-align: middle !important;
    width: 100%;
}

.main-container {
    /* border: 1px solid #dddddd; */
    box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-height: 30vh;
    margin: 30px auto;
}

.header {
    border-bottom: 1px solid #dddddd;
    padding: 20px;
}

.header .brand {
    margin-top: 8px;
}

.header-search {
    max-width: 300px;
    float: right;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

.navbar-custom {
    box-shadow: none !important;
    border-bottom: 1px solid #dddddd;
    padding: 0px !important;
}

.navbar-custom .navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-custom .navbar-nav .nav-link {
    width: 100%;
    position: relative;
}

.navbar-custom .navbar-toggler {
    position: absolute;
    top: -17px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border: 1px solid #dddddd;
}

@media (max-width: 991px) {
    .navbar-custom .navbar-collapse {
        margin-top: 10px;
    }
}

@media (min-width: 767px) {
    .sidebar-wrapper {
        border-left: 1px solid #dddddd;
    }
}

.sidebar-wrapper {
    padding: 30px 15px;
}

.sidebar-item {
    margin-bottom: 20px;
}

.sidebar-item .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
}

.sidebar-item .list-group {
    padding-top: 0px;
}

.sidebar-item img {
    width: 100%;
    height: auto;
}

.footer {
    width: 100%;
    background: #4f4f4f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}