.wrapper {
    height: 100vh;
    display: table;
    width: 100%;
    overflow-y: scroll;
}

.wrapper-inner {
    display: table-cell;
    vertical-align: middle !important;
    width: 100%;
}

.main-container {
    /* border: 1px solid #dddddd; */
    box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-height: 30vh;
}